[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule ".vim/bundle/DoxygenToolkit"]
	path = .vim/bundle/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule ".vim/bundle/wokmarks"]
	path = .vim/bundle/wokmarks
	url = https://github.com/vim-scripts/wokmarks.vim.git
[submodule ".vim/bundle/FencView"]
	path = .vim/bundle/FencView
	url = https://github.com/vim-scripts/FencView.vim.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/genutils"]
	path = .vim/bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule ".vim/bundle/ShowMarks"]
	path = .vim/bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule ".vim/bundle/Tagbar"]
	path = .vim/bundle/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule ".vim/bundle/comments"]
	path = .vim/bundle/comments
	url = https://github.com/vim-scripts/comments.vim.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/Marks-Browser"]
	path = .vim/bundle/Marks-Browser
	url = https://github.com/vim-scripts/Marks-Browser.git
[submodule ".vim/bundle/Rainbow-Parentheses-Improved"]
	path = .vim/bundle/Rainbow-Parentheses-Improved
	url = https://github.com/vim-scripts/Rainbow-Parentheses-Improved-and2.git
[submodule ".vim/bundle/cpp.vim"]
	path = .vim/bundle/cpp.vim
	url = https://github.com/vim-scripts/cpp.vim.git
[submodule ".vim/bundle/c.vim"]
	path = .vim/bundle/c.vim
	url = https://github.com/vim-scripts/c.vim.git
[submodule ".vim/bundle/xml.vim"]
	path = .vim/bundle/xml.vim
	url = https://github.com/vim-scripts/xml.vim.git
[submodule ".vim/bundle/python.vim"]
	path = .vim/bundle/python.vim
	url = https://github.com/vim-scripts/python.vim.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/bundle/lookupfile"]
	path = .vim/bundle/lookupfile
	url = https://github.com/vim-scripts/lookupfile.git
[submodule ".vim/bundle/OmniCppComplete"]
	path = .vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/bundle/YankRing"]
	path = .vim/bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/scratch"]
	path = .vim/bundle/scratch
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule ".vim/bundle/vim-lua-ftplugin"]
	path = .vim/bundle/vim-lua-ftplugin
	url = https://github.com/xolox/vim-lua-ftplugin.git
[submodule ".vim/bundle/auto_mkdir"]
	path = .vim/bundle/auto_mkdir
	url = https://github.com/vim-scripts/auto_mkdir.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/Tabular"]
	path = .vim/bundle/Tabular
	url = https://github.com/vim-scripts/Tabular.git
[submodule ".vim/bundle/tregisters_vim"]
	path = .vim/bundle/tregisters_vim
	url = https://github.com/tomtom/tregisters_vim.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/LargeFile"]
	path = .vim/bundle/LargeFile
	url = https://github.com/bootleq/LargeFile.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell.git
[submodule ".vim/SearchComplete"]
	path = .vim/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule ".vim/word_complete"]
	path = .vim/word_complete
	url = https://github.com/vim-scripts/word_complete.vim.git
[submodule ".vim/bundle/Conque-Shell"]
	path = .vim/bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule ".vim/bundle/CmdlineComplete"]
	path = .vim/bundle/CmdlineComplete
	url = https://github.com/vim-scripts/CmdlineComplete.git
[submodule ".vim/bundle/SearchComplete"]
	path = .vim/bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule ".vim/bundle/word_complete"]
	path = .vim/bundle/word_complete
	url = https://github.com/vim-scripts/word_complete.vim.git
[submodule ".vim/bundle/vim-alignment"]
	path = .vim/bundle/vim-alignment
	url = https://github.com/yueyoum/vim-alignment.git
[submodule ".vim/bundle/VimLite"]
	path = .vim/bundle/VimLite
	url = https://github.com/vim-scripts/VimLite.git
[submodule ".vim/bundle/cscope-menu"]
	path = .vim/bundle/cscope-menu
	url = https://github.com/vim-scripts/cscope-menu.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/neosnippet"]
	path = .vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/vim-scripts/snipMate.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/AutoComplPop"]
	path = .vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/SrcExpl"]
	path = .vim/bundle/SrcExpl
	url = https://github.com/wesleyche/SrcExpl.git
